[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.osRelease.id "nixos" }}
	program = /run/current-system/sw/bin/op-ssh-sign
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE3zzd7c8dpozDTV9MRJ5o1bsuaGLdfqzxt8w9DgSVWU
	name = Yury A.
	email = Atnazhev.Yu@pm.me
[core]
	editor = nvim
